@charset "UTF-8";

/* Faq Section */

.faq-section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background: var(--color-background);
}

.faq-container {
    max-width: 800px;
    margin-bottom: 1rem;
}

.faq-item {
    background-color: var(--color-background);
    padding: 0.5rem;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 1.1px rgba(0, 0, 0, 0.297);
}

.faq-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 0.5rem 0;
}

.faq-header span {
    color: var(--color-primary-dark);
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fa-solid .fa-chevron-down {
    color: var(--color-primary-dark);
}

.faq-body {
    color: var(--color-text-secondary);
    font-size: 0.9rem;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity .2s;
}

.faq-body.active {
    height: 100%;
    opacity: 1;
    padding: 0px 0.5rem;
}

.arrow {
    transition: transform .2s linear;
}

.faq-item:has(.active) .arrow {
    transform: rotate(180deg);
}