@charset "UTF-8";

/* Hero */

div.hero {
    width: 100%;
    height: 30rem;
    background: linear-gradient(to top, var(--color-hero-v1), var(--color-hero-v2));
    overflow: hidden;
}

div.shadow-bottom {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #00000000, rgba(8, 8, 8, 0.785));
}

div.hero-content {
    margin: auto;
    width: 80%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

div.hero-text {
    color: var(--color-text-light-primary);
    max-width: 45%;
}

.empresa-hero {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 1.9rem;
}

.empresa-hero>span {
    font-size: 1.1rem;
    border-left: 2px solid red;
}

.headline-hero {
    font-size: 2.1rem;
    font-weight: 900;
    line-height: 3rem;
}

.subheadline-hero {
    color: var();
    font-size: 1.2rem;
}

div.hero-img {
    width: 45%;
    height: 100%;
    background: url(../assets/hero/business-hero.png) bottom no-repeat;
    background-size: contain;
}

/* Keyframes - hero */

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.01);
    }

    100% {
        transform: scale(1);
    }
}