@charset "UTF-8";

/* Geral */

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /* ===== Principal ===== */
    --color-primary-dark: #1c5f20;
    --color-primary-light: #b8ecba;

    /* ===== Neutras ===== */
    --color-neutral-medium: #9daab0;
    /* Textos secundários, ícones */
    --color-background: #ffffff;
    /* Fundo principal */
    --color-bg-contrast: #fcfcfc;
    /*  Fundo para criar algum contraste com o branco */

    /* ===== Destaque ===== */
    --color-accent: #ffec3d;
    /* CTAs, badges, elementos que chamam atenção */

    /* ===== Textos ===== */
    --color-text-dark-primary: #212121;
    --color-text-light-primary: #ffffff;
    /* Texto principal */
    --color-text-secondary-green: #7e9f7a;
    /* Texto secundário verde */
    --color-text-secondary-light: rgb(245, 245, 245);
    /* Text secundário cinza claro */
    --color-text-secondary-dark: rgb(105, 105, 105);
    /* Text secundário cinza escuro */


    /* === Gradientes === */
    --color-hero-v1: #226f27;
    --color-hero-v2: #29882f;
    /* Gradiente para hero */
    --color-bg-contrast-dark: #f1f1f1;
    --color-bg-contrast-light: #fcfcfc;
    /* Gradiente de fundo contrastado */
    --color-bg-contrast-dark-green: #e6f5e7;
    --color-bg-contrast-light-green: #f9fff9;
    /* Gradiente de fundo contrastado verde */

}


body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--color-text-primary);
    background: var(--color-background);
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin-bottom: 20px;
}

.cta-button {
    text-decoration: none;
    border: none;
    padding: 15px 30px;
    font-size: 1.20rem;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.436);
    background-color: var(--color-accent);
    animation: pulse 1.5s infinite;
}